.contenido__sectionContacto{
    padding-bottom: 2rem;

    &__uno{
        padding-bottom: 2rem;

        &__formulario__botones__itemA{
            margin-right: 2rem;
            margin-bottom: 1rem;
        }
        
        &__formulario__botones__itemB{
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__dos__redes__img{
        padding-bottom: 1rem;
    }
    
    &__dos__banner{
        width: 100%;
        height: auto;
    }
}