.contenido__sectionServiciosEmpresa__imagen{
    width: 25rem;
    border-radius: 5%;
    margin: 1rem;
}

.contenido__sectionServiciosEmpresa__parrafo{
    margin-top: 3.5rem;
}

.contenido__sectionServiciosEmpresa{
    margin-bottom: 2rem;
}