.contenido__sectionServiciosEmpresa{
    margin-bottom: 2rem;
    
    &__imagen{
        width: 25rem;
        border-radius: 5%;
        margin: 1rem;
    }
    
    &__parrafo{
        margin-top: 3.5rem;
    }
}