.cabecera{
    @extend %colorbar;
    
    &__titulo__logo{
        @include logo (10rem,5rem,1rem)
    }
    &__titulo__p{
        display: inline-block;
        font-size: 20px;
        vertical-align: bottom;
    }
    
    &__nav{
        margin-bottom: 2rem;
    }
}

