.cabecera{
    @extend %colorbar;
    
    &__titulo__logo{
        @include logo (10rem,5rem,1rem)
    }
    &__titulo__h1{
        display: inline-block;
        padding-top: 1rem;
    }
    
    &__nav{
        margin-bottom: 2rem;
    }
}

