body{
    font-family: $fontfamly;
    font-size: $fontsize;
    color: $fontcolor;
    background-color: $bgcolor-pagina;
}

a{
    text-decoration: none;
    color: $linkcolor;
}

a:hover{
    color: $link_overcolor;
}