/*
Color de Fondo de pégina: #242525;
Color de fondo del Header: #194681;
Color de Texto: #e3e3e3;
Color de Links: #11d178
Color de Over_Links: #94ffdf;
Fuente: font-family: 'Roboto', sans-serif;
Tamaño de Fuente: font-size: 18px;
*/

/* Generales */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #e3e3e3;
    background-color: #242525;
}

a{
    text-decoration: none;
    color: #11d178;
}

a:hover{
    color: #94ffdf;
}

/* Header y Footer */
.cabecera, .pieDePagina{
    background-color: #194681;
    color: #e3e3e3;    
}

.cabecera__titulo__logo{
    width: 10rem;
    height: 5rem;
    padding-bottom: 1rem;
}
.cabecera__titulo__h1{
    display: inline-block;
    padding-top: 1rem;
}

.cabecera__nav{
    margin-bottom: 2rem;
}

.pieDePagina{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.pieDePagina__logoWhatsapp__imagen{
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
}

/* Index */
.contenido__seccionIndex__banner{
    object-fit: cover;
}
.contenido__seccionIndex, .contenido__seccionIndexDos{
    padding-bottom: 2rem;
}
.contenido__seccionIndexDos__redes{
    padding-left: 4rem;
}
.contenido__seccionIndexDos__redes__item{
    padding-bottom: 1rem;
}