/*
Color de Fondo #242525
Color de Texto #e3e3e3
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
Color de Link #11d178
Color de Over_Link #74d4b7
Color de Barra de Navegación: #2a5f66
*/


/* Configuración General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #242525;
    color: #e3e3e3;
}

a {
    text-decoration: none;
    color: #11d178;
}

a:hover{
    color: #e3e3e3;
}

.cabecera{
position: sticky;
top: 0;
}


/*Grid*/
.grid{
    width: 100%;
    height: 1vh;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "titulo titulo titulo"
    "nav nav nav"
    "main1 main1 main1"
    "main2 main2 main2"
    "main3 main3 main3"
    "footer footer footer";
}

.cabecera__titulo{
    grid-area: titulo;
}

.cabecera__nav{
    grid-area: nav;
}

.contenido__seccionIndex__banner, .contenido__sectionServiciosEmpresa__main1, .contenido__sectionContacto, .contenido__sectionPresupuesto{
    grid-area: main1;
}

.contenido__seccionIndex__parrafoUno, .contenido__seccionIndex__parrafoDos, .contenido__sectionServiciosEmpresa__main2 {
    grid-area: main2;
    width: 50%;
}

.contenido__seccionIndexDos__parrafoTres, .contenido__seccionIndexDos__redes, .contenido__seccionIndexDos_mapa, .contenido__sectionServiciosEmpresa__main3 {
    grid-area:main3 ;
}

.pieDePagina{
    grid-area: footer;
}


/* Flexbox y configuraciones para todas las páginas*/
.cabecera__titulo__logo{
    padding-top: 1rem;
}

.cabecera__titulo__h1{
    display: inline;
}

.cabecera__nav__lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:right;
    align-items: stretch;
}

.cabecera__nav__lista__item{
    padding: 1rem;
    margin: 1rem;
    width: 12rem;
    text-align: center;
    color: #e3e3e3;
    border:#3a8be7 solid 1px;
    background-color: #0045a0;
    transition: all, .75s;
}

.cabecera__nav__lista__item:hover{
        background-color: #05495a;
        width: 14rem;
}

.pieDePagina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 2rem;
}

.cabecera, .pieDePagina {
    background-color: #2a5f66;
}


/* Index */
.contenido__seccionIndex{
    padding-bottom: 2rem;
}

.contenido__seccionIndex__banner{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contenido__seccionIndexDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;     
    height: auto;
}

.contenido__seccionIndexDos__parrafoTres{
    width: 40%;
}
.contenido__seccionIndexDos__redes{
    width:25%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.contenido__seccionIndexDos_mapa{
    width: 35%;
}


/* Empresa - Servicios */
.contenido__sectionServiciosEmpresa{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenido__sectionServiciosEmpresa{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.contenido__sectionServiciosEmpresa__parrafo{
    width: 70%;
}

.contenido__sectionServiciosEmpresa__imagen{
    width: 20%;
    border: solid 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Contacto */
.contenido__sectionContacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenido__sectionContacto__uno{
    width: 60%;
}

.contenido__sectionContacto__uno__parrafo{
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Formulario Contacto */
.contenido__sectionContacto__uno__formulario__campos__Nombre, .contenido__sectionContacto__uno__formulario__campos__Apellido, .contenido__sectionContacto__uno__formulario__campos__Telefono,.contenido__sectionContacto__uno__formulario__campos__Correo, .contenido__sectionContacto__uno__formulario__campos__Consulta{
    padding-top: 1rem;
}

.contenido__sectionContacto__uno__formulario__botones{
    padding-top: 2rem;
}

.contenido__sectionContacto__uno__formulario__botones__Enviar, .contenido__sectionContacto__uno__formulario__botones__Borrar{
    width: 5rem;
    height: 2rem;
    color:#74d4b7;
    background-color: #2a5f66;
    text-align: center;
    text-decoration: solid;
    margin: 2rem;
    border:#e3e3e3 solid 1px;    
}

.contenido__sectionContacto__dos{
    width: 30%;
}

.contenido__sectionContacto__dos__mapa {
    margin-top: 2rem;
    margin-left: 4px;
}

.contenido__sectionContacto__dos__redes{
    margin-top: 2rem;
    margin-left: 9rem;
}
.contenido__sectionContacto__dos__banner{
    margin-top: 2rem;
    width: 25rem;
    height: 10rem;
    overflow: hidden;
}

#Correo-Contacto{
    margin-left: 1rem;
}

#Telefono-Contacto{
    margin-left: 0.3rem;
}

#Nombre-Contacto, #Apellido-Contacto{
    margin-left: 0.5rem;
}

#Consulta-Contacto{
    vertical-align: top;
}


/* Presupuestos */
.contenido__sectionPresupuesto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    align-items:flex-start;
}

.contenido__sectionPresupuesto__ContenedorUno{
    width: 70%;
    display: inline;
}

.contenido__sectionPresupuesto__ContenedorUno__parrafoUno{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contenido__sectionPresupuesto__ContenedorUno__pagos__imagen{
    display: block;
    bottom: 4rem;
    right: 3rem;
    float: right;
}

/* Formulario Presupuestos */
.contenido__sectionPresupuesto__ContenedorUno__formulario__2__Trabajo__Inline, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__Circuito__Inline, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__Materiales__Inline, .contenido__sectionPresupuesto__ContenedorUno__formulario__1__Inline, .contenido__sectionPresupuesto__ContenedorUno__formulario__3__Inline{
    display: inline;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__1__A, .contenido__sectionPresupuesto__ContenedorUno__formulario__1__B, .contenido__sectionPresupuesto__ContenedorUno__formulario__2, .contenido__sectionPresupuesto__ContenedorUno__formulario__3{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__botones, .contenido__sectionPresupuesto__ContenedorUno__formulario__3, .contenido__sectionPresupuesto__ContenedorUno__formulario__2{
    padding-top: 2rem;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__2__Trabajo, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__Circuito, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__Materiales, .contenido__sectionPresupuesto__ContenedorUno__formulario__1__A, .contenido__sectionPresupuesto__ContenedorUno__formulario__3_inline{
    padding-bottom: 1rem;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__3_inline{
    vertical-align: top;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__2__Trabajo__Inline, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__Circuito__Inline, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__Materiales__Inline{
    padding: 1rem;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__botones__format{
    width: 5rem;
    height: 2rem;
    color:#74d4b7;
    background-color: #2a5f66;
    text-align: center;
    text-decoration: solid;
    margin: 2rem;
    border:#e3e3e3 solid 1px;    
}

.contenido__sectionPresupuesto__ContenedorDos{
    margin-top: 3rem;
}

#Nombre{
    margin-left: 1.2rem;
}

#Correo_text{
    margin-right: 0.90rem;
}

#Apellido, #Telefono{
    margin-left: 1rem;
}


/*Celulares*/
@media only screen and (max-width: 480px) 
{
.cabecera{
    position: static;
}

.grid{
    width: 100%;
    height: 1vh;
    display:grid;
    grid-template-rows: repeat (6, 1fr);
    grid-column: 1fr;
    gap: 1rem;
    grid-template-areas: 
    "titulo"
    "nav"
    "main1"
    "main2"
    "main3"
    "footer";
}

.cabecera__nav__lista{
    list-style: none;
    display: block
}
.pieDePagina{
    display: block
}
.pieDePagina__copyright{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Index */
.cabecera__titulo__h1{
    display: block;
}

.contenido__seccionIndexDos{
    display: block
}

.contenido__seccionIndexDos_mapa,.contenido__seccionIndexDos__redes{
    padding-top: 2rem;
}

.contenido__seccionIndex__banner{
    width: 100%;
}

.contenido__seccionIndexDos__parrafoTres{
    width: 100%;
}

.contenido__seccionIndexDos__redes{
width: 100%;
}

.contenido__seccionIndexDos_mapa__size{
    width: 100%;
}


/* Empresa - Servicios */
.contenido__sectionServiciosEmpresa{
    display: block;
}

.contenido__sectionServiciosEmpresa__imagen{
    width: 75%;
}


/* Contacto */
.contenido__sectionContacto{
    display: block;
}

.contenido__sectionContacto__uno__formulario__botones__Enviar, .contenido__sectionContacto__uno__formulario__botones__Borrar{
    margin: 1rem;  
}

#Correo-Contacto{
    margin-left: 0;}


/* Presupuestos */
.contenido__sectionPresupuesto__ContenedorDos{
    display: none;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__botones__format{
    margin: 1rem;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__2__B, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__C{
    padding-top: 1rem;
}

.contenido__sectionPresupuesto__ContenedorUno__pagos__imagen{
    display: block;
    position: static;
    padding-top: 2rem;
    padding-left: 3rem;
}

.contenido__sectionPresupuesto__ContenedorUno__pagos__parrafo{
    display: none;
}

#Apellido, #Telefono, #Nombre{
    margin-left: 0rem;}
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 960px) {

.grid{
    width: 100%;
    height: 1vh;
    display:grid;
    grid-template-rows: repeat (6, 1fr);
    grid-column: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "titulo titulo"
    "nav nav"
    "main1 main1"
    "main2 main2"
    "main3 main3"
    "footer footer";
}

.cabecera__nav__lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    align-items: stretch;
}


/* Index */
.contenido__seccionIndexDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    height: auto;
}

.contenido__seccionIndexDos_mapa__size{
    width: 100%;
}


/* Empresa - Servicios */
.contenido__sectionServiciosEmpresa__imagen{
    width: 50%;
}


/* Contacto */
.contenido__sectionContacto__dos__mapa_size{
    width: 100%;
}

.contenido__sectionContacto__dos__banner__size{
    width: 100%;
}


/* Presupuestos */
.contenido__sectionPresupuesto__ContenedorDos{
    padding-left: 2rem;
}

.contenido__sectionPresupuesto__ContenedorUno__pagos__imagen{
    display: block;
    position: static;
    padding-top: 2rem;
    padding-left: 3rem;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__1__A__Nombre, .contenido__sectionPresupuesto__ContenedorUno__formulario__1__A__Apellido, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__A, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__B, .contenido__sectionPresupuesto__ContenedorUno__formulario__2__C{
    display: block;
    padding-bottom: 1rem;
}

.contenido__sectionPresupuesto__ContenedorUno__pagos__parrafo{
    display: none;
}

.contenido__sectionPresupuesto__ContenedorUno__formulario__2__Materiales, .contenido__sectionPresupuesto__ContenedorUno__formulario__1__B__Correo{
    padding-top: 1rem;
}

}